.env
deploy/data/
!deploy/data/swag-config/.gitkeep
!deploy/data/tinymotion_backend/.gitkeep
!deploy/data/tinymotion_backend_test/.gitkeep
.coverage
cov_html/
__pycache__/
.pytest_cache/
*.egg-info/
*.db
