services:
  tinymotion:
    image: ghcr.io/neuromechanics-uoa/tinymotion-backend:{{ tinymotion_image_tag }}
    container_name: tinymotion_backend
    restart: unless-stopped
    user: 1000:1000
    environment:
      - TZ=Pacific/Auckland
      - INFISICAL_TOKEN=${INFISICAL_TOKEN}
      - INFISICAL_PROJECT_ID={{ INFISICAL_PROJECT_ID }}
      - INFISICAL_ENV={{ infisical_env }}
      - TINYMOTION_DATABASE_URI=sqlite:////var/lib/tinymotion_backend/tinymotion.db
      - TINYMOTION_VIDEO_LIBRARY_PATH=/var/lib/tinymotion_backend/videos
    volumes:
      - ./data/tinymotion_backend:/var/lib/tinymotion_backend

  swag:
    image: lscr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Pacific/Auckland
      - URL={{ TINYMOTION_URL }}
      - VALIDATION=http
    volumes:
      - ./data/swag_config:/config
      - ./config/tinymotion_backend.subdomain.conf:/config/nginx/proxy-confs/tinymotion_backend.subdomain.conf:ro
    ports:
      - 80:80/tcp
      - 443:443/tcp
