#!/usr/bin/env bash

set -e

# not used but need to set it so docker compose doesn't complain
export INFISICAL_TOKEN=dummy

cd /home/{{ ansible_user }}/tinymotion_backend
docker compose exec tinymotion infisical reset
