#!/usr/bin/env bash

set -e

export INFISICAL_TOKEN=dummy

cd /home/{{ ansible_user }}/tinymotion_backend
#sudo docker compose exec tinymotion tinymotion-backend "$@"
sudo docker compose exec tinymotion tinymotion-infisical-wrapper "$@"
